<section class="container">
    <%= form_for @game do |f| %>
      <div class="input-field col s12">
    <%= select_tag(:difficulty, options_for_select([['Easy', 'easy'],['Medium', 'medium'],['Hard', 'hard'],['Impossible', 'impossible']]))%>
    </div>
      <%= button_tag(type: "Play a Game!", class: "waves-effect waves-light btn-large") do %>
        Play a Game!<i class="material-icons right"></i>
      <% end %>
    <% end %>
</section>
