.square{
    width:100px;
    height:100px;
    border: 5px solid #ba68c8;
    background-color: orange;
}

.square:hover {
  border: 6px solid #9ccc65;
}


body{
  background-color: #ba68c8;
  color: white;
}
.nav-wrapper{
  background-color: #7b1fa2 ;
}
h1{
  color: white;
}


table {
  margin-top: 50px;
}


@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("green", "lighten-1") !default;
@import 'materialize';
