<h1>Log In:</h1>

<%= form_tag '/login' do %>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          Username:
          <%= text_field_tag :username %>
          <label for="username" placeholder"Username"> </label>


      <div class="row">
        <div class="input-field col s12">
          Password:
          <%= password_field_tag :password %>
          <label for="password"></label>
        </div>
      </div>
          <button class="btn waves-effect waves-light" type="submit" name="action" <%= submit_tag "Log In" %> Log In</button>
        <%end%>

    </form>
  </div>
